[data-content="contact"] {

    .container-contact {
        display: flex;

        .contact {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 50%;
            height: 20rem;

            &.illustration {
                background-image: url(../../dist/assets/images/minitel.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                filter: sepia(1);
            }

            h3 {
                font-size: 2.2rem;
                margin-bottom: 2rem;
            }
        
            .list-contact-infos {
                margin-left: 2rem;

                li {
                    margin-bottom: 1.75rem;

                    a {
                        text-decoration: none;
                        font-size: 1.4rem;
                        border-bottom: 1px solid;
                        padding-bottom: 0.1rem;

                        i {
                            margin-right: 0.2rem;
                        }
                    }
                }
            }
        }
    }
}