[data-content="references"] {
    margin-top: 0 !important;

    .references-list {
        column-count: 3;
        column-fill: auto;
        height: 150px;

        li {
            margin-left: 1rem;
            padding: 0.5rem 0;
        }
    }

    .nb {
        color: $yellow;
        margin-top: 2rem;
        font-size: 0.8rem;
        font-style: italic;

        span {
            text-decoration: underline;
        }
    }
}