$gap: 0.75rem;

.marquee {  
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: $gap;
  background: $black;
  padding: 1.75rem 0;

  ul {
    position: relative;
    list-style: none;
    flex-shrink: 0;
    display: flex;
    gap: $gap;
    min-width: 100%;
    height: 330px;
    animation: marquee-anim 30s linear infinite;
    @keyframes marquee-anim {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(calc(-100% - $gap));
      }
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      height: 14px;
      width: 100%;
      display: block;
      background: $black;
      background-image: repeating-linear-gradient(90deg, $white 0, $white 12px, $black 12px, $black 25px);
    }

    &::before {
      top: -22px;
    }

    &::after {
      bottom: -22px;
    }

    li {
      display: flex;

      img {
        border-radius: 1rem;
      }
    }
  }
}

// .carousel-infinite-loop {
//     width: 100%;
//     overflow: hidden;
//     position: relative;
  
//     .content-carousel {
//       display: flex;
//       width: 200%;
//       animation: scroll 20s linear infinite;
  
//       img {
//         width: 10%;
//         flex-shrink: 0;
//       }
//     }
//   }
  
//   @keyframes scroll {
//     0% {
//       transform: translateX(0);
//     }
//     100% {
//       transform: translateX(-50%);
//     }
//   }
  