footer {
    background: $black;

    [data-content="footer"] {
        margin-top: 4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    
        .list-footer {
            list-style: none;
            column-count: 3;
            column-fill: auto;
            height: 150px;

            li {
                margin-bottom: 1rem;
            }
        }
    }
}