section {
    position: relative;

    &.main-section {
        padding-top: 7.5rem;

        &:last-child {
            padding-bottom: 6rem;
        }

        .content {
            position: relative;
            margin-top: 5rem;
        }
    }
}