section {
    position: relative;

    &.main-section {
        padding-top: 4rem;

        @include screen('s') {
            padding-top: 7.5rem;
        }

        .content {
            position: relative;
            margin-top: 2.5rem;

            @include screen('s') {
                margin-top: 5rem;
            }
        }
    }
}